<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<comment> 특산품 공지사항 SQL문 </comment>
	<entry key="selectProductNoticeList">
		SELECT
				NOTICE_NO, 
				NOTICE_TITLE, 
				NOTICE_CONTENT, 
				CREATE_DATE, 
				COUNT 
		  FROM  
		   		PRODUCT_NOTICE 
		 WHERE 
			    PRODUCT_NOTICE.STATUS = 'Y' 
	     ORDER
	        BY
	        	CREATE_DATE DESC 		      		
	</entry>
	
	<entry key="insertProductNotice">
		INSERT
		  INTO
		        PRODUCT_NOTICE
		        (
		        NOTICE_NO
		        ,NOTICE_TITLE 
				,NOTICE_CONTENT 
				)
		VALUES
				(
				SEQ_NOTICE_NO.NEXTVAL
				,?
				,?
				)
						
	</entry>
	
	<entry key="increaseCount">
		UPDATE
				PRODUCT_NOTICE 
		   SET
		   		COUNT = COUNT + 1 
		 WHERE
		 		NOTICE_NO = ? 
		   AND
		   		STATUS = 'Y' 
	</entry>
	
	<entry key="selectProductNotice">
		SELECT
				NOTICE_NO,
				NOTICE_TITLE, 
				NOTICE_CONTENT, 
				CREATE_DATE 
		  FROM  
		   		PRODUCT_NOTICE
	     WHERE
		   		NOTICE_NO = ? 
		   AND
		 		PRODUCT_NOTICE.STATUS = 'Y' 
	</entry> 
	
	<entry key="updateNotice">
		UPDATE
				PRODUCT_NOTICE
		   SET
		   		NOTICE_TITLE = ?, 
				NOTICE_CONTENT = ?	
		 WHERE
		   		NOTICE_NO = ? 
		   AND
		 		PRODUCT_NOTICE.STATUS = 'Y' 			
	</entry>
	
	<entry key="deleteNotice">
		UPDATE
				PRODUCT_NOTICE
		   SET
		   		STATUS = 'N'
		 WHERE
		 		NOTICE_NO = ?
		   AND
		   		STATUS = 'Y'		   				
		
	</entry>
	
	<entry key="selectProductReviewList">
		SELECT
				NOTICE_NO, 
				NOTICE_TITLE, 
				NOTICE_CONTENT, 
				CREATE_DATE, 
				COUNT 
		  FROM  
		   		PRODUCT_NOTICE 
		 WHERE 
			    PRODUCT_NOTICE.STATUS = 'Y' 
	     ORDER
	        BY
	        	CREATE_DATE DESC 		      		
	</entry>
</properties>