<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<comment> 특산품 공지사항 SQL문 </comment>
	<entry key="selectProductNoticeList">
		SELECT
				NOTICE_NO,
				NOTICE_TITLE,
				CREATE_DATE,
		  FROM  
		   		PRODUCT_NOTICE
		 WHERE 
			    STATUS = 'Y'
	     ORDER
	        BY
	        	CREATE_DATE DESC		      		
	</entry>
</properties>