<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<comment>중고나라 SQL문 </comment>
	<entry key="insertBoard">
		INSERT 
		  INTO
		 		TB_ITEMBOARD
		 		(
		 		BOARD_NO,
		 		MEM_NO,
		 		IBOARD_TITLE, 
		 		IBOARD_CONTENT, 
		 		IBOARD_POST_DATE,
		 		IBOARD_MODIFY_DATE, 
		 		STATUS, 
		 		PRICE
		 		)
		 		VALUES
		 		(
		 		SEQ_IB_NO.NEXTVAL,
		 		?,
		 		?,
		 		?,
		 		SYSDATE,
		 		SYSDATE,
		 		'Y',
		 		?
		 		)
	</entry>
	<entry key="insertAttachment">
		INSERT 
		  INTO 
		  		ATTACHMENT
		  		(
		  		FILE_NO,
		  		CATEGORY_NO,
		  		REF_NO,
		  		ORIGIN_NAME,
		  		MODIFIED_NAME,
		  		SAVE_PATH,
		  		UPLOAD_DATE,
		  		STATUS
		  		)
		  		VALUES
		  		(
		  		SEQ_AT_NO.NEXTVAL,
		  		20,
		  		SEQ_IB_NO.CURRVAL,
		  		?,
		  		?,
		  		?,
		  		SYSDATE,
		  		'Y'
		  		)
	</entry>
	<entry key="selectListCount">
		SELECT
				COUNT(*)
		  FROM
		  		TB_ITEMBOARD
		 WHERE
		 		STATUS = 'Y'
	</entry>
	<entry key="selectList">
	  SELECT 
				BOARD_NO, 
				MEM_NAME,
				IBOARD_TITLE,
				IBOARD_CONTENT,
				IBOARD_POST_DATE,
				IBOARD_MODIFY_DATE,
				COUNT,
				PRICE,
				ROWNUM RNUM
	      FROM    
       (SELECT 
				BOARD_NO, 
				MEM_NAME,
				IBOARD_TITLE,
				IBOARD_CONTENT,
				IBOARD_POST_DATE,
				IBOARD_MODIFY_DATE,
				COUNT,
				PRICE,
				ROWNUM RNUM
	      FROM 
	   (SELECT  
				BOARD_NO, 
				MEM_NAME,
				IBOARD_TITLE,
				IBOARD_CONTENT,
				IBOARD_POST_DATE,
				IBOARD_MODIFY_DATE,
				COUNT,
				PRICE,
				ROWNUM RNUM
	      FROM  
	      		TB_ITEMBOARD IB
	      JOIN 
	      		TB_MEMBER USING(MEM_NO)
	     WHERE 
	     		IB.STATUS = 'Y'
         ORDER 
	        BY 
	        	IBOARD_POST_DATE DESC) A)
         WHERE  RNUM BETWEEN ? AND ?  
	</entry>
</properties>