<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<comment>중고나라 SQL문 </comment>
	<entry key="insertBoard">
		INSERT 
		  INTO
		 		TB_ITEMBOARD
		 		(
		 		BOARD_NO,
		 		MEM_NO,
		 		IBOARD_TITLE, 
		 		IBOARD_CONTENT, 
		 		IBOARD_POST_DATE,
		 		IBOARD_MODIFY_DATE, 
		 		STATUS, 
		 		PRICE
		 		)
		 		VALUES
		 		(
		 		SEQ_IB_NO.NEXTVAL,
		 		?,
		 		?,
		 		?,
		 		SYSDATE,
		 		SYSDATE,
		 		DEFAULT,
		 		?
		 		)
	</entry>
	<entry key="selectListCount">
		SELECT
				COUNT(*)
		  FROM
		  		TB_ITEMBOARD
		 WHERE
		 		STATUS = 'Y'
	</entry>
	<entry key="selectList">
	  SELECT 
				BOARD_NO, 
				MEM_NAME,
				IBOARD_TITLE,
				IBOARD_CONTENT,
				IBOARD_POST_DATE,
				IBOARD_MODIFY_DATE,
				COUNT,
				PRICE,
				ROWNUM RNUM
	      FROM    
       (SELECT 
				BOARD_NO, 
				MEM_NAME,
				IBOARD_TITLE,
				IBOARD_CONTENT,
				IBOARD_POST_DATE,
				IBOARD_MODIFY_DATE,
				COUNT,
				PRICE,
				ROWNUM RNUM
	      FROM 
	   (SELECT  
				BOARD_NO, 
				MEM_NAME,
				IBOARD_TITLE,
				IBOARD_CONTENT,
				IBOARD_POST_DATE,
				IBOARD_MODIFY_DATE,
				COUNT,
				PRICE,
				ROWNUM RNUM
	      FROM  
	      		TB_ITEMBOARD IB
	      JOIN 
	      		TB_MEMBER USING(MEM_NO)
	     WHERE 
	     		IB.STATUS = 'Y'
         ORDER 
	        BY 
	        	IBOARD_POST_DATE DESC) A)
         WHERE  RNUM BETWEEN ? AND ?  
	</entry>
	<entry key="ibIncreaseCount">
		UPDATE 
				TB_ITEMBOARD
  	       SET 
  	       		COUNT = COUNT + 1
 		 WHERE 
 		 		BOARD_NO = ?
   		   AND 
   		   		STATUS = 'Y'
	</entry>
	<entry key="iboardSelect">
		SELECT 
				BOARD_NO,
				MEM_NAME,
				MEM.MEM_NO,
				IBOARD_TITLE,
				IBOARD_CONTENT,
				IBOARD_POST_DATE,
				IBOARD_MODIFY_DATE,
				IB.STATUS,
				PRICE
  		  FROM 
  		  		TB_ITEMBOARD IB
  		  JOIN 
  		  		TB_MEMBER MEM ON IB.MEM_NO = MEM.MEM_NO
 	     WHERE 
 	     		BOARD_NO = ?
   		   AND 
   		   		IB.STATUS = 'Y'
   		   AND
   		   		CATEGORY_NO = 20
   		   AND
   		   		MEM.STATUS != 'N'
	</entry>
	<entry key="selectCurrval">
		SELECT 
				SEQ_IB_NO.CURRVAL NUM 
  		  FROM 
  		  		TB_ITEMBOARD
 		 WHERE 
 		 		CATEGORY_NO = ?
	</entry>
	<entry key="iboardUpdate">
		UPDATE 
				TB_ITEMBOARD 
		   SET 
		   		IBOARD_TITLE = ?,
		   		IBOARD_CONTENT = ?,
		   		IBOARD_MODIFY_DATE = SYSDATE,
		   		PRICE = ? 
		 WHERE 
		 		MEM_NO = ? 
		   AND 
		   		BOARD_NO = ?
	</entry>
	<entry key="iboardDelete">
		UPDATE 
				TB_ITEMBOARD
  		   SET 
  		   		STATUS = 'N'
		 WHERE 
		 		BOARD_NO = ?
	</entry>
	<entry key="searchbarList">
  		SELECT 
				BOARD_NO, 
				MEM_NAME,
				IBOARD_TITLE,
				IBOARD_CONTENT,
				IBOARD_POST_DATE,
				IBOARD_MODIFY_DATE,
				COUNT,
				PRICE,
				ROWNUM RNUM
	      FROM    
       (SELECT 
				BOARD_NO, 
				MEM_NAME,
				IBOARD_TITLE,
				IBOARD_CONTENT,
				IBOARD_POST_DATE,
				IBOARD_MODIFY_DATE,
				COUNT,
				PRICE,
				ROWNUM RNUM
	      FROM 
	   (SELECT  
				BOARD_NO, 
				MEM_NAME,
				IBOARD_TITLE,
				IBOARD_CONTENT,
				IBOARD_POST_DATE,
				IBOARD_MODIFY_DATE,
				COUNT,
				PRICE,
				ROWNUM RNUM
	      FROM  
	      		TB_ITEMBOARD IB
	      JOIN 
 		  		TB_MEMBER MEM ON IB.MEM_NO = MEM.MEM_NO
	     WHERE 
	     		IBOARD_TITLE LIKE ?
  		   AND 
  		   		IB.STATUS = 'Y'
  		   AND
  		   		CATEGORY_NO = 20
  		   AND
  		   		MEM.STATUS != 'N'
         ORDER 
	        BY 
	        	IBOARD_POST_DATE DESC) A)
         WHERE  
         		RNUM BETWEEN ? AND ? 
	</entry>
	<entry key="keywordListCount">
		SELECT
				COUNT(*)
		  FROM
		  		TB_ITEMBOARD
		 WHERE
		 		STATUS = 'Y'
		   AND
		   		IBOARD_TITLE = ?
	</entry>
</properties>