<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

	<comment> 회원 관련 SQL문 </comment>

	<entry key="loginMember">
		SELECT
		       MEM_NO,
		       MEM_ID,	
		       MEM_PWD,
		       MEM_NAME,
		       EMAIL,
		       PHONE,
		       AREA,
		       ENROLL_DATE,
		       STATUS
		  FROM
		       TB_MEMBER
		 WHERE
		       MEM_ID = ?
		   AND
		       MEM_PWD = ?
		   AND 
		       STATUS IN ('A', 'U')
	</entry>
	
	<entry key="insertMember">
		INSERT
		  INTO
		       TB_MEMBER
		       (
		       MEM_NO,
		       MEM_ID,
		       MEM_PWD,
		       MEM_NAME,
		       EMAIL,
		       PHONE,
		       AREA
		       )
		VALUES
		       (
		       SEQ_TB_MEMBER_MEMNO.NEXTVAL,
		       ?,
		       ?,
		       ?,
		       ?,
		       ?,
		       ?
		       )
	</entry>
	
	<entry key="updateMember">
		UPDATE 
		       TB_MEMBER
		   SET 
		       EMAIL = ?,
		       PHONE = ?,
		       AREA = ?
		 WHERE
		       MEM_ID = ?
		   AND
		       STATUS IN ('A', 'U')
	</entry>
	
	<entry key="selectMember">
		SELECT
		       MEM_NO,
		       MEM_ID,
		       MEM_PWD,
		       MEM_NAME,
		       EMAIL,
		       PHONE,
		       AREA,
		       ENROLL_DATE,
		       STATUS
		  FROM
		       TB_MEMBER
		 WHERE
		       MEM_ID = ? 
	</entry>
	
	<entry key="updatePwdMember">
		UPDATE
		       TB_MEMBER
		   SET
		       MEM_PWD = ?
		 WHERE
		 	   MEM_NO = ?
		   AND
		       MEM_PWD = ?       
	</entry>
	
	<entry key="deleteMember">
		UPDATE
		       TB_MEMBER
		   SET
		       STATUS = 'N'
		 WHERE
			   MEM_NO = ?
		   AND 
		       MEM_PWD = ?
		   AND 
		       STATUS = 'U'	
	</entry>
	
	
	
	
	
	
	
	
	
	
	
	

</properties>