<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<comment> 자유게시판 SQL문 </comment>
	<entry key="getListCount">
		SELECT
			COUNT(*)
		FROM
			TB_FREEBOARD
	</entry>
	<entry key="selectFboardList"> 
        SELECT
            BOARD_NO,
			ART_WRITER,
			IP_ADDRESS,
			ART_TITLE,
			COUNT,
            CREATE_DATE,
            ROWNUM
        FROM
		(SELECT
			BOARD_NO,
			ART_WRITER,
			IP_ADDRESS,
			ART_TITLE,
			COUNT,
            CREATE_DATE,
            ROWNUM
		FROM
			TB_FREEBOARD
		WHERE 
			STATUS = 'Y'
        ORDER BY
            BOARD_NO DESC)
        WHERE ROWNUM BETWEEN ? AND ?
	</entry>
</properties>