<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<comment> 자유게시판 SQL문 </comment>
	<entry key="getListCount">
		SELECT
			COUNT(*)
		FROM
			TB_FREEBOARD
	</entry>
	<entry key="selectFboardList"> 
        SELECT 
			BOARD_NO,
			ART_WRITER,
			IP_ADDRESS,
			ART_TITLE,
			COUNT,
            CREATE_DATE,
            ROWNUM RNUM
        FROM    
        (SELECT
            BOARD_NO,
			ART_WRITER,
			IP_ADDRESS,
			ART_TITLE,
			COUNT,
            CREATE_DATE,
            ROWNUM RNUM
        FROM
		(SELECT
			BOARD_NO,
			ART_WRITER,
			IP_ADDRESS,
			ART_TITLE,
			COUNT,
            CREATE_DATE,
            ROWNUM
		FROM
			TB_FREEBOARD
		WHERE 
			STATUS = 'Y'
        ORDER BY
            BOARD_NO DESC) A)
        WHERE RNUM BETWEEN ? AND ?    
	</entry>
	<entry key="insertBoard">
		INSERT
			INTO
				TB_FREEBOARD
				(
				BOARD_NO,
				ART_WRITER,
				IP_ADDRESS,
				ART_TITLE,
				ART_PASSWORD,
				ART_CONTENT
				)
			VALUES
				(
				SEQ_FB_BN.NEXTVAL,
				?,
				?,
				?,
				?,
				?
				)
	</entry>
	<entry key="increaseCount">
		UPDATE
			TB_FREEBOARD
		SET
			COUNT = COUNT + 1
		WHERE
			BOARD_NO = ?
		AND
			STATUS = 'Y'
	</entry>
	<entry key="selectFreeboard">
		SELECT
			BOARD_NO,
			CATEGORY_NO,
			ART_WRITER,
			IP_ADDRESS,
			ART_TITLE,
			ART_CONTENT,
			ART_PASSWORD,
			COUNT,
			CREATE_DATE
		FROM
			TB_FREEBOARD
		WHERE
			BOARD_NO = ?
		AND
			STATUS = 'Y'
	</entry>
	<entry key="insertAttachment">
		INSERT
			INTO
				ATTACHMENT
				(
				FILE_NO,
				CATEGORY_NO,
				REF_NO,
				ORIGIN_NAME,
				MODIFIED_NAME,
				SAVE_PATH
				)
			VALUES
				(
				SEQ_AT_NO.NEXTVAL,
				10,
				SEQ_FB_BN.CURRVAL,
				?,
				?,
				?
				)
	</entry>
	<entry key="selectAttachment">
		SELECT
			FILE_NO,
			REF_NO,
			ORIGIN_NAME,
			MODIFIED_NAME,
			SAVE_PATH,
			UPLOAD_DATE
		FROM
			ATTACHMENT
		WHERE
			CATEGORY_NO = 10
		AND	
			REF_NO = ?
		AND 
			STATUS = 'Y'
	</entry>
</properties>