<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<comment> 자유게시판 SQL문 </comment>
	<entry key="getListCount">
		SELECT
			COUNT(*)
		FROM
			TB_FREEBOARD
	</entry>
	<entry key="selectFboardList"> 
        SELECT 
			BOARD_NO,
			ART_WRITER,
			IP_ADDRESS,
			ART_TITLE,
			COUNT,
            CREATE_DATE,
            ROWNUM RNUM
        FROM    
        (SELECT
            BOARD_NO,
			ART_WRITER,
			IP_ADDRESS,
			ART_TITLE,
			COUNT,
            CREATE_DATE,
            ROWNUM RNUM
        FROM
		(SELECT
			BOARD_NO,
			ART_WRITER,
			IP_ADDRESS,
			ART_TITLE,
			COUNT,
            CREATE_DATE,
            ROWNUM
		FROM
			TB_FREEBOARD
		WHERE 
			STATUS = 'Y'
        ORDER BY
            BOARD_NO DESC) A)
        WHERE RNUM BETWEEN ? AND ?    
	</entry>
	<entry key="insertBoard">
		INSERT
			INTO
				TB_FREEBOARD
				(
				BOARD_NO,
				ART_WRITER,
				IP_ADDRESS,
				ART_TITLE,
				ART_PASSWORD,
				ART_CONTENT
				)
			VALUES
				(
				SEQ_FB_BN.NEXTVAL,
				?,
				?,
				?,
				?,
				?
				)
	</entry>
	<entry key="increaseCount">
		UPDATE
			TB_FREEBOARD
		SET
			COUNT = COUNT + 1
		WHERE
			BOARD_NO = ?
		AND
			STATUS = 'Y'
	</entry>
	<entry key="selectFreeboard">
		SELECT
			BOARD_NO,
			CATEGORY_NO,
			ART_WRITER,
			IP_ADDRESS,
			ART_TITLE,
			ART_CONTENT,
			ART_PASSWORD,
			COUNT,
			CREATE_DATE
		FROM
			TB_FREEBOARD
		WHERE
			BOARD_NO = ?
		AND
			STATUS = 'Y'
	</entry>
	<entry key="updateFreeboard">
		UPDATE
			TB_FREEBOARD
		SET
			ART_TITLE = ?,
			ART_PASSWORD = ?,
			ART_CONTENT = ?
		WHERE
			BOARD_NO = ?
		AND
			STATUS = 'Y'
	</entry>
	<entry key="deleteFreeboard">
		UPDATE
			TB_FREEBOARD
		SET
			STATUS = 'N'
		WHERE
			BOARD_NO = ?
		AND
			STATUS = 'Y'
	</entry>
	<entry key="getSearchCount">
		SELECT 
			COUNT(*)
		FROM 
			TB_FREEBOARD
		WHERE 
			((ART_TITLE LIKE ? OR ART_CONTENT LIKE ?) 
			OR (ART_WRITER LIKE ?) 
			OR (IP_ADDRESS LIKE ?) 
			AND STATUS = 'Y')
	</entry>
	<entry key="getSearchResult">
		SELECT 
		BOARD_NO,
		ART_WRITER,
		IP_ADDRESS,
		ART_TITLE,
		COUNT,
					CREATE_DATE,
					ROWNUM RNUM
			FROM    
			(SELECT
					BOARD_NO,
		ART_WRITER,
		IP_ADDRESS,
		ART_TITLE,
		COUNT,
					CREATE_DATE,
					ROWNUM RNUM
			FROM
	(SELECT
		BOARD_NO,
		ART_WRITER,
		IP_ADDRESS,
		ART_TITLE,
		COUNT,
					CREATE_DATE,
					ROWNUM
	FROM
		TB_FREEBOARD
	WHERE 
		((ART_TITLE LIKE ? OR ART_CONTENT LIKE ?) 
		OR (ART_WRITER LIKE ?) 
		OR (IP_ADDRESS LIKE ?) 
		AND STATUS = 'Y')
			ORDER BY
					BOARD_NO DESC) A)
			WHERE RNUM BETWEEN ? AND ?  
	</entry>
	<entry key="selectReplyList">
		SELECT
			REPLY_NO,
			WRITER,
			IP_ADDRESS,
			REPLY_CONTENT,
			(TO_CHAR(CREATE_DATE, 'YYYY/MM/DD HH24:MI:SS')) A
		FROM
			FB_REPLY
		WHERE
			REF_BNO = ?	
		AND
			STATUS = 'Y'
		ORDER BY
			REPLY_NO 
	</entry>
	<entry key="insertReply">
		INSERT
			INTO
				FB_REPLY
				(
				REPLY_NO,
				REF_BNO,
				WRITER,
				IP_ADDRESS,
				REPLY_CONTENT,
				PASSWORD
				)
		VALUES
			(
			SEQ_FB_REPLY_NO.NEXTVAL,
			?,
			?,
			?,
			?,
			?
			)
		
	</entry>
</properties>