<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

<comment>Admin Reservation 관련 sql문</comment>

<entry key="countUpcoming">
SELECT 
      'hanok' "TYPE",
      COUNT(RESERVATION_NO) "COUNT"
  FROM 
      HANOK_RESERVATION 
WHERE 
      FROM_DATE>SYSDATE
      UNION ALL
SELECT 
        'horse',
        COUNT(RESERVATION_NO)
    FROM
        HORSE_RESERVATION 
  WHERE 
        HORSE_DATE>SYSDATE 
    UNION ALL
SELECT 
        'month',
        COUNT(RESERVATION_NO) 
    FROM 
        MONTH_RESERVATION 
    UNION ALL 
SELECT 
        'tea',
        COUNT(RESERVATION_NO) 
    FROM 
        TEA_RESERVATION 
    WHERE 
        START_DATE>SYSDATE
</entry>

<entry key ="selectRides">
SELECT 
        RNUM,
        RESERVATION_NO, 
        MEM_ID, 
        PHONE, 
        TYPE, 
        START_DATE, 
        STATUS 
  FROM 
        (
		SELECT ROWNUM RNUM, 
         A.* 
         FROM (SELECT 
		      RESERVATION_NO,
		      MEM_ID,
		      SUBSTR(PHONE,1,3)||'-****-'||SUBSTR(PHONE,10,12) "PHONE",
		      HORSE_PRO_NAME "TYPE",
		      TO_CHAR(HORSE_DATE) "START_DATE",
		      HR.STATUS "STATUS"
		 FROM HORSE_RESERVATION HR 
		 JOIN TB_MEMBER USING(MEM_NO) 
		 JOIN HORSE_PROGRAM USING(HORSE_PRO_NO) 
		 WHERE HORSE_DATE >=(SYSDATE-1) 
		 ORDER BY RESERVATION_NO DESC         
         )A) 
    WHERE RNUM BETWEEN 1 AND 7

</entry>
<entry key ="selectHanok">
SELECT 
        RNUM,
        RESERVATION_NO, 
        MEM_ID, 
        PHONE, 
        TYPE, 
        START_DATE, 
        STATUS 
  FROM 
        (
		SELECT ROWNUM RNUM, 
         A.* 
         FROM (SELECT 
		      RESERVATION_NO,
		      MEM_ID,
		      SUBSTR(PHONE,1,3)||'-****-'||SUBSTR(PHONE,10,12) "PHONE",
		      ROOM_TYPE "TYPE",
		      TO_CHAR(FROM_DATE)||'('||(TO_DATE-FROM_DATE)||'박)' "START_DATE",
		      HK.STATUS "STATUS"
		 FROM HANOK_RESERVATION HK 
		 JOIN TB_MEMBER USING(MEM_NO) 
		 JOIN ROOM_INFO USING(ROOM_NO) 
		 WHERE FROM_DATE >=(SYSDATE-1) 
		 ORDER BY RESERVATION_NO DESC
         )A) 
    WHERE RNUM BETWEEN 1 AND 7
</entry>

<entry key = "selectTea">
SELECT 
        RNUM,
        RESERVATION_NO, 
        MEM_ID, 
        PHONE, 
        TYPE, 
        START_DATE, 
        STATUS 
  FROM 
        (
         SELECT ROWNUM RNUM, 
         A.* 
         FROM (SELECT 
                      RESERVATION_NO,
                      MEM_ID,
                      SUBSTR(PHONE,1,3)||'-****-'||SUBSTR(PHONE,10,12) "PHONE",
                      COURSE_NUM "TYPE",
                      TO_CHAR(START_DATE) "START_DATE",
                      T.STATUS "STATUS" 
                 FROM TEA_RESERVATION T 
                 JOIN TB_MEMBER USING(MEM_NO) 
                 WHERE START_DATE >=(SYSDATE-1) 
                 ORDER BY RESERVATION_NO DESC
                 )A) 
    WHERE RNUM BETWEEN 1 AND 7
</entry>

<entry key = "selectMonth">
SELECT 
        RNUM,
        RESERVATION_NO, 
        MEM_ID, 
        PHONE, 
        TYPE, 
        START_DATE, 
        STATUS 
  FROM 
        (
		SELECT ROWNUM RNUM, 
         A.* 
         FROM (SELECT 
			  RESERVATION_NO,
		      MEM_ID,
		      SUBSTR(PHONE,1,3)||'-****-'||SUBSTR(PHONE,10,12) "PHONE",
		      LODGE_NAME "TYPE",
		      START_DATE,
		      M.STATUS "STATUS" 
		 FROM 
		 	  MONTH_RESERVATION M 
		 JOIN TB_MEMBER USING(MEM_NO) 
		 JOIN MONTH_INFO USING(LODGE_NO) 
		ORDER BY RESERVATION_NO DESC
         )A) 
    WHERE RNUM BETWEEN 1 AND 7
</entry>

<entry key="selectReservation">
SELECT 
    RESERV_TYPE, RESERVATION_NO, MEM_ID, PHONE, "TYPE", START_DATE, STATUS 
FROM (SELECT 
      '한옥 스테이' "RESERV_TYPE",
      RESERVATION_NO,
      MEM_ID,
      SUBSTR(PHONE,1,3)||'-****-'||SUBSTR(PHONE,10,12) "PHONE",
      ROOM_TYPE "TYPE",
      TO_CHAR(FROM_DATE)||'('||(TO_DATE-FROM_DATE)||'박)' "START_DATE",
      HK.STATUS "STATUS"
 FROM HANOK_RESERVATION HK 
 JOIN TB_MEMBER USING(MEM_NO) 
 JOIN ROOM_INFO USING(ROOM_NO) 
 UNION ALL
 SELECT 
          '승마장' "RESERV_TYPE",
          RESERVATION_NO,
          MEM_ID,
          SUBSTR(PHONE,1,3)||'-****-'||SUBSTR(PHONE,10,12) "PHONE",
          HORSE_PRO_NAME "TYPE",
          TO_CHAR(HORSE_DATE) "START_DATE",
          HR.STATUS "STATUS"
     FROM HORSE_RESERVATION HR 
     JOIN TB_MEMBER USING(MEM_NO) 
     JOIN HORSE_PROGRAM USING(HORSE_PRO_NO) 
UNION ALL 
SELECT 
          '녹차 체험' "RESERV_TYPE",
          RESERVATION_NO,
          MEM_ID,
          SUBSTR(PHONE,1,3)||'-****-'||SUBSTR(PHONE,10,12) "PHONE",
          COURSE_NUM "TYPE",
          TO_CHAR(START_DATE) "START_DATE",
          T.STATUS "STATUS" 
     FROM TEA_RESERVATION T 
     JOIN TB_MEMBER USING(MEM_NO) 
UNION ALL 
SELECT 
          '한달 살기' "RESERV_TYPE",
          RESERVATION_NO,
          MEM_ID,
          SUBSTR(PHONE,1,3)||'-****-'||SUBSTR(PHONE,10,12) "PHONE",
          LODGE_NAME "TYPE",
          START_DATE,
          M.STATUS "STATUS" 
     FROM 
          MONTH_RESERVATION M 
     JOIN TB_MEMBER USING(MEM_NO) 
     JOIN MONTH_INFO USING(LODGE_NO)) 
WHERE RESERVATION_NO=?
</entry>

<entry key="selectById">
SELECT 
       ROWNUM, 
       RESERV_TYPE, 
       RESERVATION_NO, 
       MEM_ID, 
       PHONE, 
       "TYPE", 
       START_DATE, 
       STATUS 
FROM (
    (SELECT 
      '한옥 스테이' "RESERV_TYPE",
      RESERVATION_NO,
      MEM_ID,
      SUBSTR(PHONE,1,3)||'-****-'||SUBSTR(PHONE,10,12) "PHONE",
      ROOM_TYPE "TYPE",
      TO_CHAR(FROM_DATE)||'('||(TO_DATE-FROM_DATE)||'박)' "START_DATE",
      HK.STATUS "STATUS"
     FROM HANOK_RESERVATION HK 
     JOIN TB_MEMBER USING(MEM_NO) 
     JOIN ROOM_INFO USING(ROOM_NO) 
     UNION ALL 
     SELECT 
              '승마장' "RESERV_TYPE",
              RESERVATION_NO,
              MEM_ID,
              SUBSTR(PHONE,1,3)||'-****-'||SUBSTR(PHONE,10,12) "PHONE",
              HORSE_PRO_NAME "TYPE",
              TO_CHAR(HORSE_DATE) "START_DATE",
              HR.STATUS "STATUS"
         FROM HORSE_RESERVATION HR 
         JOIN TB_MEMBER USING(MEM_NO) 
         JOIN HORSE_PROGRAM USING(HORSE_PRO_NO) 
    UNION ALL 
    SELECT 
              '녹차 체험' "RESERV_TYPE",
              RESERVATION_NO,
              MEM_ID,
              SUBSTR(PHONE,1,3)||'-****-'||SUBSTR(PHONE,10,12) "PHONE",
              COURSE_NUM "TYPE",
              TO_CHAR(START_DATE) "START_DATE",
              T.STATUS "STATUS" 
         FROM TEA_RESERVATION T 
         JOIN TB_MEMBER USING(MEM_NO) 
    UNION ALL 
    SELECT 
              '한달 살기' "RESERV_TYPE",
              RESERVATION_NO,
              MEM_ID,
              SUBSTR(PHONE,1,3)||'-****-'||SUBSTR(PHONE,10,12) "PHONE",
              LODGE_NAME "TYPE",
              TO_CHAR(START_DATE) "START_DATE",
              M.STATUS "STATUS" 
         FROM 
              MONTH_RESERVATION M 
         JOIN TB_MEMBER USING(MEM_NO) 
         JOIN MONTH_INFO USING(LODGE_NO)
         )ORDER BY RESERVATION_NO DESC)
WHERE MEM_ID = ? AND ROWNUM BETWEEN 1 AND 7
</entry>
<entry key="deleteFromHorse">
	DELETE FROM HORSE_RESERVATION WHERE RESERVATION_NO = ?
</entry>
<entry key="deleteFromTea">
DELETE FROM TEA_RESERVATION WHERE RESERVATION_NO = ?
</entry>
<entry key="deleteFromHanok">
DELETE FROM HANOK_RESERVATION WHERE RESERVATION_NO = ?
</entry>
<entry key="deleteFromMonth">
DELETE FROM MONTH_RESERVATION WHERE RESERVATION_NO = ?
</entry>



</properties>