<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

	<comment>Greentea관련 sql문</comment>

	<entry key="insertReserv">
	INSERT
	INTO
		 TEA_RESERVATION
	VALUES(
		SEQ_RESERV_NO.NEXTVAL
		,?
		,?
		,?
		,DEFAULT
		,?
	)
	
	</entry>
	
	
	<entry key="selectCourseNum">
	SELECT
		COURSE_NUM, INFO_DESC, PRICE
	FROM
		TEA_INFO
	</entry>
	
	
	
	<entry key="selectReservation">
	SELECT
		RESERVATION_NO,
		MEM_NO,
		START_DATE,
		COURSE_NUM
	FROM
		TEA_RESERVATION
	</entry>

	

	

















</properties>