<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

<comment>승마 예약 관련 sql문</comment>

<entry key="insertReservation">
	INSERT 
		INTO 
			HORSE_RESERVATION 
	VALUES(
			SEQ_RESERV_NO.NEXTVAL,
			?,
			?,
			?,
			?,
			?,
			DEFAULT,
			?
	        )
</entry>

<entry key="dateCheck">
	SELECT HORSE_TIME FROM HORSE_RESERVATION WHERE HORSE_DATE = ?
</entry>

</properties>