<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

<comment>승마 예약 관련 sql문</comment>

<entry key="insertReservation">
	INSERT 
		INTO 
			HORSE_RESERVATION 
	VALUES(
			SEQ_RESERV_NO.NEXTVAL,
			?,
			?,
			?,
			?,
			?,
			DEFAULT,
			?
	        )
</entry>

<entry key="dateCheck">
	SELECT HORSE_TIME FROM HORSE_RESERVATION WHERE HORSE_DATE = ?
</entry>

<entry key="selectRides">
	SELECT
			RESERVATION_NO,
			HORSE_PRO_NAME,
			TO_CHAR(HORSE_DATE) "HORSE_DATE",
			HORSE_TIME,
			RIDER_NUM
		FROM 
			HORSE_RESERVATION 
		JOIN 
			HORSE_PROGRAM USING(HORSE_PRO_NO)
		WHERE 
			STATUS = 'Y'
		AND 
			MEM_NO = ?
		ORDER 
		   BY 
		    HORSE_DATE
</entry>
<entry key="selectPrograms">
	SELECT 
			HORSE_PRO_NO, HORSE_PRO_NAME, DESCRIPTION, PRICE 
		FROM 
			HORSE_PROGRAM
</entry>
<entry key = "selectRide">
	SELECT 
			RESERVATION_NO,
			MEM_NO,
			HORSE_PRO_NO,
			TO_CHAR(HORSE_DATE, 'YYYY-MM-DD') "HORSE_DATE", 
			HORSE_TIME,
			RIDER_NUM,
			MESSAGE 
	  FROM 
	  		HORSE_RESERVATION 
	  WHERE 
	  		RESERVATION_NO = ? 
	  	AND 
	  		STATUS = 'Y'
</entry>

<entry key="updateRide">
	UPDATE 
			HORSE_RESERVATION 
	  SET 
	  		HORSE_PRO_NO = ?,
	  		HORSE_DATE = ?,
	  		HORSE_TIME = ?,
	  		RIDER_NUM = ?,
	  		MESSAGE = ? 
	  WHERE 
	  		RESERVATION_NO = ? 
	  	AND 
	  		MEM_NO = ?
</entry>



</properties>