<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

	<comment>monthLiving 관련 sql문</comment>
	
	<entry key="selectMonthlivinginfo">
	SELECT
		LODGE_NO,
		LODGE_NAME,
		LODGE_LOCATION,
		PRICE,
		LODGE_INFO
	FROM
		MONTH_INFO
	WHERE
		LODGE_NO = ?
	</entry>
	
	
	<entry key="insertReserv">
	INSERT
	INTO
		MONTH_RESERVATION
	VALUES(
		SEQ_RESERV_NO.NEXTVAL,
		?,
		?,
		?,
		?,
		DEFAULT
	)
	</entry>


	<entry key="selectMonthlivinginfoList">
	SELECT
		LODGE_NO,
		LODGE_NAME,
		LODGE_PRICE
	FROM
		MONTH_INFO
	
	
	</entry>
	
	<entry key= "selectReserv">
		SELECT
			RESERVATION_NO,
			LODGE_NO,
			MEM_NO,
			START_DATE,
			PEOPLE_NUM,
		FROM
			MONTH_RESERVATION
		WHERE
			RESERVATION_NO = ?
		AND
			MEM_NO = ?
		AND
			STATUS = 'Y'
		ORDER BY
			RESERVATION_NO
	</entry>
	
	
	
	
	
	
	
	
	<entry key = "deleteReserv">
		UPDATE
			MONTH_RESERVATION
		SET
			STATUS = 'N'
		WHERE
			RESERVATION_NO = ?
		AND
			MEM_NO = ?
	</entry>
	
	
	
</properties>