<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<comment>Scrap SQL문 </comment>
	<entry key="iboardInsertScrap">
		INSERT 
		  INTO 
		  		TB_SCRAP
		  		(
		  		SCRAP_NO,
		  		MEM_NO,
		  		IBOARD_NO,
		  		CREATE_DATE,
		  		STATUS
		  		)
		VALUES
				(
				SEQ_SC_NO.NEXTVAL,
				?, 
				?, 
				SYSDATE,
				?
				)
	</entry>
	<entry key="iboardScrapSelect">
		
		SELECT 
				SC.MEM_NO, 
				IBOARD_NO, 
				SC.STATUS
  		  FROM 
  		  		TB_SCRAP SC
 		  JOIN 
 		  		TB_ITEMBOARD IB ON SC.IBOARD_NO = IB.BOARD_NO
 		  JOIN 
 		  		TB_MEMBER MEM ON SC.MEM_NO = MEM.MEM_NO
 		 WHERE
				MEM.STATUS != 'N'
  		   AND 
  		   		IB.STATUS = 'Y'
   		   AND 
   		   		SC.MEM_NO = ?
  		   AND 
  		   		IBOARD_NO = ?
	</entry>
	<entry key="iboardInsertNo">
		SELECT 
				SC.STATUS
 		  FROM 
 		  		TB_SCRAP SC
  		  JOIN 
  		  		TB_ITEMBOARD IB ON SC.IBOARD_NO = IB.BOARD_NO
  		  JOIN 
  		  		TB_MEMBER MEM ON SC.MEM_NO = MEM.MEM_NO
 		 WHERE 
 		 		MEM.STATUS != 'N'
   		   AND 
   		   		IB.STATUS = 'Y'
   		   AND 
   		   		SC.MEM_NO = ?
   		   AND 
   		   		IBOARD_NO = ?
	</entry>
	<entry key="iboardUpdateNo">
		SELECT 
				STATUS
 		  FROM 
     			(
       			SELECT 
       					CREATE_DATE,
       					SCRAP_NO, 
       					IBOARD_NO,
       					SC.STATUS
      		      FROM 
      		      		TB_SCRAP SC
         		  JOIN 
         		  		TB_ITEMBOARD IB ON SC.IBOARD_NO = IB.BOARD_NO
         		  JOIN 
         		  		TB_MEMBER MEM ON SC.MEM_NO = MEM.MEM_NO
      		     WHERE 
      		     		MEM.STATUS != 'N'
         		   AND 
         		   		IB.STATUS = 'Y'
        		   AND 
        		   		SC.MEM_NO = ?
       			   AND 
       			   		IBOARD_NO = ?
      			 ORDER 
           			BY 
             			CREATE_DATE DESC
     		  )
  		WHERE 
        		ROWNUM = 1
	</entry>
	<entry key="iboardScrapUpdate">
		UPDATE 
				TB_SCRAP 
		   SET 
		   		STATUS = ? , CREATE_DATE = SYSDATE 
		 WHERE 
		 		MEM_NO = ? 
		   AND 
		   		IBOARD_NO = ?
	</entry>
</properties>